In [1]:
#to find the index for a string

x = "amie"
print(x[1])

m

In [2]:
print(x[0:-1])

ami

In [3]:
#it counts the first variable of the string as 0

x.index('a')

0

In [4]:
x.index('m')

1

In [5]:
x.index('i')

2

In [6]:
x.index('e')

3

In [8]:
#to select from the array from any position
# the answer 1 shows the position of janet in the array. remember that, it reads from 0.

p = ["amie", "janet", "susan", "ayo", "bola"]
index_val = p.index("janet")
print(index_val)

1

In [10]:
p = ["amie", "janet", "susan", "ayo", "bola"]
index_val = p.index("janet")
y_val = p[index_val]
print(y_val)

janet

In [12]:
p = ["amie", "janet", "susan", "ayo", "bola"]
index_val = p.index("janet")
y_val = p[index_val:]
print(y_val)

['janet', 'susan', 'ayo', 'bola']

In [13]:
p = ["amie", "janet", "susan", "ayo", "bola"]
index_val = p.index("janet")
y_val = p[index_val+1:]
print(y_val)

['susan', 'ayo', 'bola']

In [14]:
p = ["amie", "janet", "susan", "ayo", "bola"]
index_val = p.index("janet")
y_val = p[index_val:-1]
print(y_val)

['janet', 'susan', 'ayo']

In [15]:
z_val = p[:index_val]
print(z_val)

['amie']

In [16]:
#to find the mean of an array
#len is used to represent length of the array

d = ["juan", "kate", "mitchel", "funmi", "angel", "ada", "lola"]
count_avg = len(d)/2
print(count_avg)

3.5

In [18]:
#int is the integer in Python and integers are whole numbers.

d = ["juan", "kate", "mitchel", "funmi", "angel", "ada", "lola"]
count_avg = int(len(d)/2)
print(count_avg)

3

In [19]:
d = ["juan", "kate", "mitchel", "funmi", "angel", "ada", "lola"]
count_avg = int(len(d)/2)
new_count_avg = count_avg -1
print(count_avg)
print(new_count_avg)

3
2

In [20]:
d = ["juan", "kate", "mitchel", "funmi", "angel", "ada", "lola", "joy"]
count_avg = int(len(d)/2)
new_count_avg = count_avg -1
print(count_avg)
print(new_count_avg)

4
3

In [22]:
#to append

arr1 = [3,6, "jane", "bella"]
arr1.append("daniel")
print(arr1)

[3, 6, 'jane', 'bella', 'daniel']

In [23]:
arr1 = [3,6, "jane", "bella"]
arr2 = ["tola", "madu"]
arr1.append(arr2)
print(arr1)

[3, 6, 'jane', 'bella', ['tola', 'madu']]

In [24]:
print(arr1 + arr2)

[3, 6, 'jane', 'bella', ['tola', 'madu'], 'tola', 'madu']

In [28]:
array1 = ["teni", "tiwa", "tems", "rihanna"]
for i in array1
    print(i)

SyntaxError: invalid syntax (Temp/ipykernel_5508/1845900784.py, line 2)

In [29]:
# the ":" is the reason it did not work

array1 = ["teni", "tiwa", "tems", "rihanna"]
for i in array1:
    print(i)

teni
tiwa
tems
rihanna

In [37]:
# to pick an index value that begins with r

array1 = ["teni", "tiwa", "tems", "rihanna"]
for i in array1:
    if i[0] == "r":
        print (i)

rihanna

In [38]:
r_names = []
array1 = ["teni", "tiwa", "tems", "rihanna"]
for i in array1:
    if i[0] == "r":
        r_names.append(i)
print(r_names)

['rihanna']

In [46]:
#to change from lower case to upper case for first letters in a name.

new_surnames =[]
array_names = ["jacob", "obi", "moses", "victor"]

for i in array_names:
    cap_names = i[0].upper() + i[1:]
    new_surnames.append(cap_names)
    print(cap_names)
print(new_surnames)

Jacob
Obi
Moses
Victor
['Jacob', 'Obi', 'Moses', 'Victor']

In [51]:
#to join names 

print(array1)

for i in range(0, len(array1)):
    fullnames = f"{new_surnames[i]} {array1[i]}"
    print(fullnames)

['teni', 'tiwa', 'tems', 'rihanna']
Jacob teni
Obi tiwa
Moses tems
Victor rihanna

In [54]:
#to select a string from an array
#str stands for string

element = ["hannah", "shalom", 10, 15, "design"]
for i in element:
    test = isinstance(i, str)
    if test == True:
        print(test)

True
True
True

In [55]:
element = ["hannah", "shalom", 10, 15, "design"]
for i in element:
    test = isinstance(i, str)
    if test == True:
        print(i)

hannah
shalom
design

In [56]:
type("hannah")

str

In [57]:
for i in element:
    p = type(i)
    if p == int:
        print(i)

10
15

In [58]:
new_list = []
d = ["juan", "kate", "mitchel", "funmi", "angel", "ada", "lola", "joy"]
for i in d:
    k = type(i)
    if k == str:
        new_list.append(i)
if len(new_list)==len(d):
    print("yes they are all strings!")
else:
    print("No they are not all strings!")

yes they are all strings!

In [59]:
new_list = []
d = ["juan", 10, "mitchel", "funmi", "angel", "ada", "lola", "joy"]
for i in d:
    k = type(i)
    if k == str:
        new_list.append(i)
if len(new_list)==len(d):
    print("yes they are all strings!")
else:
    print("No they are not all strings!")

No they are not all strings!