# LAMBDA FUNCTIONS

### Normal function

In [7]:
def add_val(x):
    return(x+1)

add_val(2)

3

### lambda function

In [8]:
add_val = lambda x:x+1
add_val(2)

3

### Normal function

In [9]:
def add_val(x,y):
    b= (x+y) + 5
    return b

add_val(2,6)

13

### lambda function

In [10]:
add_val = lambda x, y: (x + y) + 5
add_val(2,6)

13

In [48]:
b = "hello world"
a = lambda string : f"{string} Ada"
a(b)

'hello world Ada'

In [51]:
string = "be my guest"
print(lambda string : string)

<function <lambda> at 0x00000291A4B8B550>

In [52]:
(lambda string : string) (string)

'be my guest'

In [53]:
table = [(x**2) for x in range(1, 11)]
print(table)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [47]:
x = 5
d = lambda x = x : x*10
d(x)

50

In [46]:
t = [lambda x = x : x*10 for x in range(1, 11)]
for i in t:
    print(i())

10
20
30
40
50
60
70
80
90
100

In [45]:
# to find the maximum value

max_val = lambda a, b : a if (a > b) else b
max_val(5,10)

10

In [44]:
max_val = lambda a, b : a if (a > b) else b
max_val(15,10)

15

In [43]:
lst = [5, 7, 22, 97, 62, 54, 77, 23]
a = lambda x : (x%2 == 0)
new_list = list(filter(a, lst))
print(new_list)

[22, 62, 54]

In [24]:
vamp_lst = [13, 90, 17, 59, 21, 60, 5]
a = lambda x : (x > 18)
age_lst = list(filter(a,vamp_lst))
print(age_lst)

[90, 59, 21, 60]

In [41]:
# to convert an array to capital letters

names = ["john", "rihad", "perez", "Keita"]
b = lambda x : x[0].upper() + x[1:]
new_name = list(map(b, names))
print(new_name)

['John', 'Rihad', 'Perez', 'Keita']

In [19]:
import os
import pandas as pd

In [20]:
path = "C:/Users/Trainee1/Documents/AYOKEYS/Online Retail.xlsx/Online Retail.xlsx"
df = pd.read_excel(path)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [21]:
#to check the headers of the df

df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [22]:
#to check the rolls and columns of the df

df.shape

(541909, 8)

In [23]:
#to check the details of the file, including te datatype

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [24]:
#to check the missing values in the df

df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [25]:
#to replace all missing values with missing

df = df.fillna("missing")

In [26]:
df.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  541909 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   541909 non-null  object
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 33.1+ MB

In [31]:
#to split the date and time i'd have to first convert it to sting.

df["invoicedate"] = df["InvoiceDate"].astype(str)

In [33]:
df[["date", "time"]] = df["invoicedate"].str.split(" ", expand = True)

In [34]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,invoicedate,date,time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010-12-01 08:26:00,2010-12-01,08:26:00
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,2010-12-01,08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010-12-01 08:26:00,2010-12-01,08:26:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,2010-12-01,08:26:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,2010-12-01,08:26:00
...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,2011-12-09 12:50:00,2011-12-09,12:50:00
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,2011-12-09 12:50:00,2011-12-09,12:50:00
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,2011-12-09 12:50:00,2011-12-09,12:50:00
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,2011-12-09 12:50:00,2011-12-09,12:50:00
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,2011-12-09 12:50:00,2011-12-09,12:50:00

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  541909 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   541909 non-null  object
 7   Country      541909 non-null  object
 8   invoicedate  541909 non-null  object
 9   date         541909 non-null  object
 10  time         541909 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 45.5+ MB

In [36]:
#to manipulate the datetime in a dataframe.
#i'd be using it to split my time to minutes and seconds

import datetime as dt

In [38]:
#i had to use "InvoiceDate" because it is a datetime datatype.

df["Hour"] = df["InvoiceDate"].dt.hour
df["Minute"] = df["InvoiceDate"].dt.minute
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,invoicedate,date,time,Hour,Minute
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010-12-01 08:26:00,2010-12-01,08:26:00,8,26
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,2010-12-01,08:26:00,8,26
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010-12-01 08:26:00,2010-12-01,08:26:00,8,26
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,2010-12-01,08:26:00,8,26
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,2010-12-01,08:26:00,8,26

In [39]:
#i'd be dropping the "invoicedate" because I don't neccesarilly need it anymore. I just used it to split the date and time

df = df.drop(["invoicedate"], axis = 1)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,date,time,Hour,Minute
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010-12-01,08:26:00,8,26
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,08:26:00,8,26
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010-12-01,08:26:00,8,26
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,08:26:00,8,26
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,08:26:00,8,26

In [ ]:
#quantity that sold more
#which time(hour) are goods bought more
#which country buys more goods at night.